.navegacao {
   /* background-color: red !important; */
   background: linear-gradient(to right, rgb(255, 255, 255), rgb(7, 44, 252)) !important;
}

.menu {
   background-color: rgb(0, 0, 255);
   height: 100vh;
   list-style: none;
}

.menu-item {
   color: rgb(255, 255, 255);
   padding: 8px 0px;
   text-decoration: none;
   font-size: 22px;
}

.menu-item:hover {
   color: #ee3939;
   scale: 2, 05;
}

.fundologin {
   background-color: rgb(38, 66, 230);
   display: flex;
}

.painel {
   background-color: rgb(240, 240, 240);
   width: 350px;
   height: 350px;
   margin: auto;
   margin-top: 100px;
   border-radius: 20px;
   padding: 15px;
   z-index: 2;
}

.cabecalho {
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 40px;

}

.botao:hover {
   background-color: rgb(255, 0, 0);
}